.pageContainer{
  width: 800px;
  height: 400px;
  margin: auto;
  margin-top: 40px;
}

.step1{
  width: 700px;
  height: 180px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 15px;
  margin: auto;
  background-color: white;
}

.step1Title{
  width: 300px;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 20px;
  margin: auto;
  margin-top: 5px;
  background-color: black;

}

.step1Title h1{
  font-size: 10pt;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.step1 p{
  margin: auto;
  text-align: center;
  margin-top: 10px;
  font-family: sans-serif;
}

.link{
  width: 350px;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
  background-color: #F5D76E;
}

.link p{
  margin: auto;
  text-align: center;
  margin-top: 5px;
  font-family: sans-serif;
}

.step2 {
  width: 700px;
  height: 180px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
  background-color: white;
}

.step2 p{
  margin: auto;
  text-align: center;
  margin-top: 10px;
  font-family: sans-serif;
}

.step2Title{
  width: 300px;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 20px;
  margin: auto;
  margin-top: 5px;
  background-color: black;
}

.step2Title h1{
  font-size: 10pt;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.wrapperCode{
  width: 100px;
  height: 35px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 20px;
  margin: auto;
  margin-top: 5px;
  background-color: #F5D76E;
}

.wrapperCode p{
  font-size: 12pt;
  text-align: center;
  color: black;
  font-family: sans-serif;
}

#gameArea{
  width: 500px;
  height: 100px;
  margin: auto;
  margin-top: 10px;
}

.player{
  width: 500px;
  height: 100px;
  margin: auto;
  margin-top: 10px;

  text-align: center;
}

.player1wrap{
  width: 200px;
  height: 70px;
  margin: auto;
  margin-top: 10px;
  margin-left: 40px;
  font-family: helvetica;
  float: left
}

.player2wrap{
  width: 200px;
  height: 70px;
  margin: auto;
  margin-top: 10px;
  margin-left: 15px;
  font-family: helvetica;
  float: left;
}

.player p{
  font-family: 'fingerfunny';
  font-size: 20pt;
}
